p{
    text-indent: 2em;
}

body{
    position: relative;
    width: 65%;
    left: 17.5%;
    right: 17.5%;
    min-width: 1200px;
}

.FRC{
    position: relative;
    display: flex;
    flex-direction: row;
}

.FRC-main{
    position: relative;
    width:65%;
}

.FRC-margin{
    position: relative;
    margin:align;
    width: 30%;
}

.FRC-margin-image{
    width: 95%;
    height: 95%;
    text-align: center;
    border-radius: 3%;
}

.FRC-margin-row{
    width: 100%;
}

.FRC-margin-item{
    width: 45%;
    top: 2%;
}