.home-container {
    align-items: center;
    justify-content: center;
    place-items: center;
    display: grid;
    width: 100%;
    min-width: 600px;
    /* border: 1px solid black; */
}

.home-cover {
    width: 200px;
    border-radius: 100px;
}

.home-greet {
    font-size: 1.1em;
    font-weight: bold;
}

.home-sign {
    font-size: 1.05em;
    font-style: italic;
    font: 100 "Times New Roman", Times, serif;
    width: 500px;

}