/* From Uiverse.io by alexmaracinaru */
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

/* .card-image:hover {
  transform: scale(0.98);
} */

.category {
  text-transform: uppercase;
  font: 0.78em "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
  word-break: break-all;
}

/* .category:hover {
  cursor: pointer;
} */

.heading {
  font: 1.17em "calibri", sans-serif;
  font-weight: 670;
  color: rgb(88, 87, 87);
  padding: 1px 7px;
  /* hyphens: auto;
    word-break:break-all; */
}

/* .heading:hover {
  cursor: pointer;
} */

.sign {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 4px;
  display: flex;
}

.author {
  width: 69%;
  text-align: left;
}

.date {
  width: 31%;
  text-align: right;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.card:hover {
  transform: rotate(0) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content {
  position: absolute;
  top: 0;
  height: 140px;
  width: 178px;
  opacity: 0;
  background-color: white;
}

.card:hover .content {
  opacity: 0.85;
  transition: opacity 0.5s;
}

.description {
  font: 0.68em "Times New Romans", sans-serif;
  color: rgb(31, 28, 28);
  height: 114px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 7px;
  word-break: break-all;
}

.view {
  position: absolute;
  font: 0.68em "Times New Romans", sans-serif;
  color: rgb(82, 100, 218);
  right: 0px;
  bottom: 3px;
}

.view:hover {
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
}