/* From Uiverse.io by alexmaracinaru */
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 16px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.card-image :hover {
  opacity: 0;
}

.category {
  text-transform: uppercase;
  font: 0.78em "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
  word-break: break-all;
}

.heading {
  font: 1.17em "calibri", sans-serif;
  font-weight: 670;
  color: rgb(88, 87, 87);
  padding: 1px 7px;
  word-break: break-all;
}

.sign {
  color: gray;
  font-weight: 400;
  font-size: 0.57em;
  padding-top: 4px;
  display: flex;
}

.author {
  width: 69%;
  text-align: left;
}

.date {
  width: 31%;
  text-align: right;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.card:hover {
  transform: rotate(0) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content {
  position: absolute;
  top: 0;
  height: 140px;
  width: 178px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
}

.card:hover .content {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.description {
  font: 0.68em "Times New Romans", sans-serif;
  color: rgb(31, 28, 28);
  height: 123px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 7px;
}

.view {
  position: absolute;
  font: 0.68em "Microsoft yahei", sans-serif;
  font-size: bold;
  color: rgb(82, 100, 218);
  right: 5.4px;
  bottom: 3.57px;
  background-color: white;
  border-left: 3px solid rgb(255, 255, 255);
}

.view:hover {
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
}

.viewmore-container {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 15%;
  max-height: 70%;
  justify-content: center;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.3);
  border-radius: 10.1px;
  background-color: white;
  overflow: scroll;
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}

.viewmore-cover {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.viewmore-heading {
  margin: 20px;
}

.viewmore-text {
  margin: 20px;
}

button:hover {
  cursor: pointer;
}

.Btn {
  position: fixed;
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  right: calc(20% + 10px);
  top: calc(15% + 10px);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgba(0, 0, 0, 0.12);
  opacity: .9999999999999999;
}

.exit {
  position: absolute;
  width: 100%;
  top: 14.6px;
  left: 2.5px;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit svg {
  width: 17px;
}

.exit svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  top: 11.4px;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .exit {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}